{% extends "base.html" %}
{% block main %}
    <h2>Traning data list</h2>
{% endblock %}
{% block results %}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Columns count</th>
        <th>Rows count</th>
        <th>Updated</th>
        <th>Detail</th>
        <th>Delete</th>
    </tr>
  {% for object in object_list %}
    <tr>
        <td>
            <a href="{% url 'analysis:training_data' pk=object.pk %}">{{object.name}}</a>
        </td>
        <td>
            {{object.columns_count}}
        </td>
        <td>
            {{object.rows_count}}
        </td>
         <td>
            {{object.update}}
        </td>
        <td>
            <a class="btn btn-info" href="{% url 'analysis:training_data' pk=object.pk %}">Detail</a>
        </td>
        <td>
            <a class="btn btn-danger" href="{% url 'analysis:delete_training_data' pk=object.pk %}">Delete</a>
        </td>

    </tr>
  {% endfor %}
</table>
<p></p>
<a class="btn btn-primary" href="{% url 'analysis:load_training_data' %}">New</a>

{% endblock %}
